entrypoint = "server.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["ollama", "psmisc", "outils"]

[deployment]
run = ["sh", "-c", "node server.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 3000

[[ports]]
localPort = 3002
externalPort = 80

[[ports]]
localPort = 5000

[[ports]]
localPort = 11434
externalPort = 3002
exposeLocalhost = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Node Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Ollama Service"

[[workflows.workflow]]
name = "Node Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Ollama Service"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "ollama serve"

[workflows.workflow.metadata]
outputType = "console"

[agent]
expertMode = true

[userenv]

[userenv.shared]
